#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

xkb_base := /usr/share/X11/xkb

v3_xkm := evdev-v3-v3-v3-v3.xkm

build: build-stamp
build-stamp:
	dh_testdir

	xkbcomp -I -I. -Idebian/v3 debian/v3/config -xkm -o $(v3_xkm)

clean:
	dh_testdir
	dh_testroot
	dh_clean 

	[ ! -f $(v3_xkm) ] || rm -f $(v3_xkm)

install:
	dh_testdir
	dh_testroot
	dh_prep

	mkdir -p $(CURDIR)/debian/xkm-data-v3/$(xkb_base)
	mkdir -p $(CURDIR)/debian/xkm-data-v3/$(xkb_base)/precompiled
	cp -R debian/v3/rules $(CURDIR)/debian/xkm-data-v3/$(xkb_base)
	cp -f $(v3_xkm) $(CURDIR)/debian/xkm-data-v3/$(xkb_base)/precompiled

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
