#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

xkb_base := /usr/share/X11/xkb

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_prep

	mkdir -p $(CURDIR)/debian/xkb-data-v3/$(xkb_base)
	cp -R debian/v3/* $(CURDIR)/debian/xkb-data-v3/$(xkb_base)
	install -d $(CURDIR)/debian/xkb-data-v3/$(xkb_base)/keycodes
	cp keycodes/evdev $(CURDIR)/debian/xkb-data-v3/$(xkb_base)/keycodes

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
